/* --------------------------------

Base CSS

-------------------------------- */

body {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	padding: $margin 0;
}

hr {
	border-top: 1px solid $divider-color;
}
