/* --------------------------------

Typography

-------------------------------- */

body {
	@include break-word;
}

.h4, h4, .h5, h5, .h6, h6 {
    margin-bottom: $padding;
}

p {
	font-family: $primary-font;
	font-size: 1rem;
	line-height: 1.25em;
	color: $gray-dark;
	font-weight: 200;
    margin-top: 0;
    margin-bottom: $padding;
}

a {
	color: $text-color;
	text-decoration: none;
	@include transition(color, 0.3s);

	&:hover {
		color: mix($text-color, $primary-color, 15%);
	}

	&:hover, &:active, &:focus, &:visited {
		text-decoration: none;
	}
}
