
.hidden {
	display: none !important;
}

.opaque {
	opacity: 0 !important;
}

.relative {
	position: relative !important;
}

.absolute {
	position: absolute !important;
}

.fixed {
	position: fixed !important;
}
