
/*--------------------------------------------------------------
Cover image
--------------------------------------------------------------*/

#buddypress #header-cover-image {
	height: 225px;

}

#buddypress #create-group-form #header-cover-image {
	margin: 1em 0;
	position: relative;
}

.bp-user #buddypress #item-header {
	padding-top: 0;
}

#buddypress #item-header-cover-image #item-header-avatar {
	margin-top: 145px;
	float: left;
	overflow: visible;
	width: auto;
}

#buddypress div#item-header #item-header-cover-image #item-header-content {
	clear: both;
	float: left;
	margin-left: 170px;
	margin-top: -140px;
	width: auto;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
	clear: none;
	margin-top: 225px;
	margin-left: 0;
	max-width: 50%;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
	max-width: 20%;
	padding-top: 20px;
}



#buddypress div#item-header-cover-image .user-nicename a,
#buddypress div#item-header-cover-image .user-nicename {
	font-size: 200%;
	color: #fff;
	margin: 0 0 0.6em;
	text-rendering: optimizelegibility;
	text-shadow: 0 0 3px rgba( 0, 0, 0, 0.8 );
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
	background: rgba( 255, 255, 255, 0.8 );
	border: solid 2px #fff;
}

#buddypress #item-header-cover-image #item-header-avatar a {
	border: 0;
	text-decoration: none;
}

#buddypress #item-header-cover-image #item-buttons {
	margin: 0 0 10px;
	padding: 0 0 5px;
}

#buddypress #item-header-cover-image #item-buttons:after {
	clear: both;
	content: "";
	display: table;
}

@media screen and (max-width: 782px) {
	#buddypress #item-header-cover-image #item-header-avatar,
	.bp-user #buddypress #item-header #item-header-cover-image #item-header-avatar,
	#buddypress div#item-header #item-header-cover-image #item-header-content {
		width: 100%;
		text-align: center;
	}

	#buddypress #item-header-cover-image #item-header-avatar a {
		display: inline-block;
	}

	#buddypress #item-header-cover-image #item-header-avatar img {
		margin: 0;
	}

	#buddypress div#item-header #item-header-cover-image #item-header-content,
	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
		margin: 0;
	}

	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
		max-width: 100%;
	}

	#buddypress div#item-header-cover-image h2 a,
	#buddypress div#item-header-cover-image h2 {
		color: inherit;
		text-shadow: none;
		margin: 25px 0 0;
		font-size: 200%;
	}

	#buddypress #item-header-cover-image #item-buttons div {
		float: none;
		display: inline-block;
	}

	#buddypress #item-header-cover-image #item-buttons:before {
		content: "";
	}

	#buddypress #item-header-cover-image #item-buttons {
		margin: 5px 0;
	}
}